<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
 	<display-name>iwherecloud</display-name>
 	<!-- 添加对spring的支持 -->  
 	<!-- 150414 如果不加classpath后面的*号，不知为何会报错fileNotFound，但是之前没有出现这种问题。 -->
 	<context-param>        
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-config.xml</param-value>    
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 添加对struts2的支持 --> 
	<filter>
		<filter-name>struts2</filter-name>  
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>  
	</filter>
	<filter-mapping>  
		<filter-name>struts2</filter-name>  
	    <url-pattern>/*</url-pattern>  
	</filter-mapping>
	<!-- 初始页面 --> 
	<welcome-file-list>
		<welcome-file>topo.jsp</welcome-file>
	</welcome-file-list>
  
</web-app>
